$color-primary: #607D8B;
$color-primary-dark: #455A64;
$color-primary-light: #cfd8dc;

$color-accent: #009688;

$color-text: #212121;

$color-divider: rgba(#000000, 0.12);

$page-margin: 16px;

$border-radius: 10px;
